@{
    ViewData["Title"] = "Save Licensee Account";
}

@model Account

<h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="account-name">
        @(Model.AccountId == 0 ? "Select" : "Update") the Account Status
    </label>
</h1>

<form asp-action="SaveStatus" method="post">

    <input type="hidden" name="AccountId" value="@Model.AccountId" />
    <input type="hidden" name="AccountName" value="@Model.AccountName" />

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">               

                    @foreach (var status in Enum.GetValues(typeof(Status)))
                    {               
                        <div class="govuk-radios__item">         
                            <input class="govuk-radios__input" type="radio" id="status-@status" name="AccountStatus" value="@status"
                             />
                            <label class="govuk-label govuk-radios__label" for="status-@status">@status</label>
                        </div>
                    }
            </div>
        </fieldset>
    </div>

    @if (Model.AccountId != 0)
    {
        <div class="govuk-form-group">
            <button class="govuk-button" id="submit-button" type="submit">Save Account Status </button>
        </div>
    }

    @if (Model.AccountId == 0)
    {
        <button class="govuk-button" id="continue-button" type="submit">Continue </button>
    }
</form>
